@import "../../scss/colors";
@import "../../scss/globalVars";

.close-btn-small, .close-btn-big {
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  color: $gray;

  &:hover {
    color: #fff;
  }
}

.close-btn-small {
  font-size: $big-text;
}

.close-btn-big {
  font-size: 2.5em;
}
