@import "../../../scss/colors.global";
@import "../../../scss/mixins.global";

$search-input-form-height: 3.25em;
$search-input-form-top-margin: 2em;
$search-input-form-elements-height: $search-input-form-height - $search-input-form-top-margin;

.searchInputContainer {
  display: grid;
  grid-template-rows: 2fr 10fr;
  justify-content: center;
  z-index: 1;

  .searchHeading {
    color: #fff;
    font-size: 2em;
  }

  .searchForm {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-column-gap: 0.5em;
    height: $search-input-form-height;
    margin-top: $search-input-form-top-margin;

    .searchInput {
      display: inline-block;
      padding: 0.75em;
      font-size: 1.2em;
      background: #000;
      opacity: 0.85;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      border-radius: 4px;
      border: 0;
    }

    .searchSubmitBtn {
      @include btn-skeleton(1em 3.5em, #fff, $light-coral-color);
      text-decoration: none;
    }
  }
}
