@import "../../../scss/colors.global";

.genreList {

  .genreListItem {
    display: inline-block;
    margin: 0.2em 1em 0.2em 0;
    cursor: pointer;

    &:hover {
      color: $light-coral-color;
    }
  }

  .activeGenreListItem {
    @extend .genreListItem;
    color: $light-coral-color;
  }
}
