@import "../../scss/colors.global";

.errorPage {
  background: $dark;
  height: inherit;
  display: grid;
  grid-template-rows: 1fr 18fr 1fr;

  .brandWrapper {
    padding: 0 2em;
  }

  .errorMessage {
    align-self: center;
    justify-self: center;
    font-size: 4em;
    color: $light-coral-color;
    border: 0.25em solid $light-coral-color;
    border-radius: 0.5em;
    padding: 1em 2em;
  }

  .errorContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1em 0;

    .errorSubMessage {
      font-size: 3em;
    }

    .backToHomeLink {
      color: $light-coral-color;
      border: 1px solid $light-coral-color;
      border-radius: 4px;
      padding: 1em;
      text-decoration: none;
    }
    .errorSubMessage, .backToHomeLink {
      text-align: center;
    }
  }
}
