@import "../../../scss/colors";
@import "../../../scss/globalVars";
@import "../../../scss/mixinsAndFunctions";

.add-movie-form {

  .form-control {
    margin: 1em 0;

    .form-label {
      font-size: $regular-text;
      color: $light-coral-color;
    }

    .form-input {
      width: -webkit-fill-available;
      padding: 0.4em 0.75em;
      font-size: 1em;
      margin: 0.5em 0;
      background: #2e2e2e;
      color: #fff;
      border: 1px solid $dark;
      border-radius: 4px;

      &::-webkit-input-placeholder {
        color: #6d6d6d;
      }

      &:focus {
        outline: none !important;
        border: 1px solid $light-coral-color;


        &::-webkit-input-placeholder {
          color: #fff;
        }
      }
    }
  }

  .form-btn-control {
    display: flex;
    justify-content: flex-end;

    .form-btn {
      @include btn-skeleton(
                      $regular-btn-padding,
                      $light-coral-color,
                      $dark,
                      1px solid $light-coral-color
      );
      margin: 0 0.5em;

      &:hover {
        @include btn-skeleton(
                        $regular-btn-padding,
                        #fff,
                        $light-coral-color,
                        1px solid $light-coral-color
        );
      }
    }
  }
}
