@import "../../../scss/vars.global";

.movies-list {
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  justify-items: center;
  align-items: center;

  .movies-list-item {
    width: $movies-list-item-width;
  }
}
