@import "../../../../scss/colors";

.movies-navigation-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  align-items: center;
  font-size: 1.2em;

  &:after {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 1em;
    padding-top: 0.1em;
    content: '';

    background: #f65261;
    background: -moz-linear-gradient(left,  #f65261 0%, #f65261 2%, $dark-gray 2%, $dark-gray 2%, $dark-gray 100%);
    background: -webkit-linear-gradient(left,  #f65261 0%,#f65261 2%,$dark-gray 2%,$dark-gray 2%,$dark-gray 100%);
    background: linear-gradient(to right,  #f65261 0%,#f65261 2%,$dark-gray 2%,$dark-gray 2%,$dark-gray 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65261', endColorstr='$dark-gray',GradientType=1 );

  }
}

