@import "../../scss/colors";
@import "../../scss/globalVars";
@import "../../scss/mixinsAndFunctions";

.addMoviePopup {
  width: 600px;
  padding: 0 3em 2em 3em;
  background: #232323;
  color: white;

  .add-movie-popup-close-btn {
    display: flex;
    justify-content: flex-end;
  }

  .add-movie-form {

    .form-control {
      margin: 1em 0;

      .form-label {
        font-size: 1.25em;
        color: $light-coral-color;
      }

      .form-input {
        width: -webkit-fill-available;
        padding: 0.5em 1em;
        font-size: 1.25em;
        margin: 0.5em 0;
        background: #2e2e2e;
        color: #fff;
        border: 1px solid #232323;
        border-radius: 4px;

        &::-webkit-input-placeholder {
          color: #6d6d6d;
        }

        &:focus {
          outline: none !important;
          border: 1px solid $light-coral-color;


          &::-webkit-input-placeholder {
            color: #fff;
          }
        }
      }
    }

    .form-btn-control {
      display: flex;
      justify-content: flex-end;

      .form-btn {
        @include btn-skeleton(
                        $big-btn-padding,
                        $light-coral-color,
                        #232323,
                        1px solid $light-coral-color
        );
        margin: 0 0.5em;

        &:hover {
          @include btn-skeleton(
                          $big-btn-padding,
                          #fff,
                          $light-coral-color,
                          1px solid $light-coral-color
          );
        }
      }
    }
  }
}
