@import "../../../scss/vars.global";
@import "../../../scss/colors.global";

.movieDetailContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 8fr 2fr;
  justify-content: center;
  z-index: 1;

  .moviesImage {
    grid-column-start: 2;
    align-self: center;
    width: 15em;
    height: 20em;
  }

  .movieDetailDescription {
    display: grid;
    grid-template-rows: 7.5fr 2.5fr 5fr 16fr;
    padding: 0 2em;

    .movieTitle {
      font-size: 2.5em;
    }

    .movieRating {
      font-size: $big-text;
      color: #738b64;
      border: 1px #fff solid;
      border-radius: 50%;
      padding: 0.5em;
      margin-left: 0.5em;
    }

    .movieSubTitle, .movieOverview {
      color: $white-gray;
    }

    .movieYear, .movieRuntime {
      color: $light-coral-color;
      font-size: 1.5em;
    }

    .movieRuntime {
      margin-left: 1em;
    }

    .movieOverview {
      font-size: 1.25em;
    }
  }
}
