@import "../../../scss/globalVars";

$header-height: 40%;

.home-header-background {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../../../assets/home-header-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: $header-height;
  width: 100%;
  position: absolute;
  filter: blur(2px);
  z-index: 0;
}

.home-header {
  height: $header-height;
  display: grid;
  grid-template-rows: 3fr 7fr;
  align-items: center;
  margin: 0 $inner-horizontal-padding-margin;
}
