.base-page {
  display: grid;
  grid-template-rows: 60vh auto 60px;

  .main-container {
    background: $dark;
    margin-top: 1em;
    padding: 1em $inner-horizontal-padding-margin 2em $inner-horizontal-padding-margin;
  }
}
