@import "../../../scss/mixins.global";
@import "../../../scss/colors.global";

$dropdown-border: 1px solid $dark-gray;

.sort-switcher {
  justify-self: flex-end;
  padding: 0.2em 0;

  .sort-switcher-description {
    color: #7B7B7B;
  }

  .sort-switcher-dropdown {
    position: relative;
    display: inline-block;

    &:after, &:hover:after {
      content: '';
      margin: 0.15em 0.75em;
      transition: 0.2s ease-in-out;
    }

    &:after {
      @include arrow-toggler($light-coral-color, 0.2em, true);
    }

    &:hover:after {
      @include arrow-toggler($light-coral-color, 0.2em, false);
    }

    .sort-switcher-active-option {
      padding: 0.5em 2em;
      cursor: pointer;
    }

    .sort-switcher-active-option {
      display: inline-block;
      width: 7em;
    }

    .sort-switcher-dropdown-content {
      display: none;
      position: absolute;
      background-color: $dark;
      min-width: 8em;

      .sort-switcher-option {
        font-size: 0.8em;
        cursor: pointer;
        margin-left: 2em;
        padding: 0.5em 2em;

        &:hover {
          background: $light-coral-color;
        }
      }
    }
  }

  .sort-switcher-dropdown:hover .sort-switcher-dropdown-content {
    display: block;
  }
}
