@import "../../scss/globalVars";

$header-height: 50%;

.page-header-wrapper {

}
.page-header-background, .page-header-background-shadowed {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: $header-height;
  width: 100%;
  position: absolute;
  filter: blur(2px);
  z-index: 0;
}

.page-header-background {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../../assets/home-header-background.jpg");
}

.page-header-background-shadowed {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.9),
                  rgba(0, 0, 0, 0.9)
  ),
  url("../../assets/home-header-background.jpg");
}

.page-header {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 12fr;
  align-items: center;
  margin: 1em $inner-horizontal-padding-margin;
}
