@import "../scss/vars.global";
@import "../scss/colors.global";

.basePage {
  display: grid;
  grid-template-rows: 60vh auto 60px;

  .mainContainer {
    background: $dark;
    margin-top: 1em;
    padding: 1em $inner-horizontal-padding-margin 2em $inner-horizontal-padding-margin;
  }
}
