@import "../../../../scss/colors";
@import "../../../../scss/globalVars";
@import "../../../../scss/mixinsAndFunctions";

$add-movie-btn-background: linear-gradient(
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)
);
$add-movie-btn-background-hover: linear-gradient(
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.8)
), #fff;

.action-bar-container {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  .add-movie-btn {
    @include btn-skeleton(
                    $big-btn-padding,
                    $light-coral-color,
                    $add-movie-btn-background
    );

    &:hover {
      @include btn-skeleton(
                      $big-btn-padding,
                      #fff,
                      $add-movie-btn-background-hover
      );
    }
  }
}

