html, body, #root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
