html, body, #root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: #555555;
}

// Reset default button style
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
